

img , #inputField
{
    margin-bottom: 20px;
}

.description
{
  margin-bottom: 30px;
}

#output
{
  width: 210px;
  height: 118px;
}


#svg1
{
  position: absolute;
  top:0px;
  left:0px;
  margin-left: 8px;
  margin-top: 49px;
}

text
{
  fill: white;
}

rect
{
  fill: black;
}
